@inherits DisplayProjectsBase

@foreach (var item in Projects)
{
    <div class="col-md-4 mb-2">
        <a href="/ProjectDetails/@item.Id">
            <div class="card">
                <img class="img-thumbnail" src="@item.ImageUrl">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        @item.Name
                    </h5>
                    <div class="tech-icons">
                        @foreach (var tech in item.Techs)
                        {
                            <div class="single-icon">
                                <i class="@tech.Icon" />
                            </div>
                        }
                    </div>
                    <p>@ShortenDescription(item.Description, 120)</p>
                    <div class="link-icons">
                        @foreach (var link in item.Links)
                        {
                            <div class="single-icon">
                                <i class="@link.Icon" />
                            </div>
                        }
                    </div>
                    <p class="click-info">Click to view more...</p>
                </div>
            </div>
        </a>        
    </div>
}
