@page "/ProjectDetails/{Id:int}"
@inherits ProjectDetailsBase

@if(Project == null && ErrorMessage == null)
{
    <LoadingSpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"/>
}
else
{
    <h1 class="mb-5">@Project.Name</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="@Project.ImageUrl">
        </div>
        <div class="col-md-6">
            <p class="mb-4">@Project.Description</p>
            <h3 class="mb-4">Technologies used in this project:</h3>
            <div class="techs">
                @foreach (var tech in Project.Techs)
                {
                    <div class="tech">
                        <span><i class="@tech.Icon" />@tech.Name</span>
                    </div>
                }
            </div>
            <h3 class="mb-4">Useful links related to this project:</h3>
            <div>
                @foreach (var link in Project.Links)
                {                
                    <div class="link">
                        <a href="@link.Destination" target="_blank">
                            <span><i class="@link.Icon" />@link.DisplayText</span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}
