@page "/ProjectDetails/{Id:int}"
@inherits ProjectDetailsBase
@using DeveloperPortfolio.Web.Components

@if(Project == null && ErrorMessage == null)
{
    <LoadingSpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"/>
}
else
{
    <h3 class="mb-5">@Project.Name</h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-fluid" src="@Project.ImageUrl">
        </div>
        <div class="col-md-6">
            <p class="mb-4">@Project.Description</p>
            <p class="mb-4">Technologies used:</p>
            <div>
                @foreach (var tech in Project.Techs)
                {
                    <div>
                        <i class="@tech.Icon"/>
                        <p>@tech.Name</p>
                    </div>
                }
            </div>
            <p class="mb-4">Useful links related to this project:</p>
            <div>
                @foreach (var link in Project.Links)
                {
                    <div>
                        <a href="@link.Destination">
                            <i class="@link.Icon" />
                            <p>@link.DisplayText</p>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}
