@page "/UpdateProject/{Id:int}"
@inherits UpdateProjectBase

<h3>Update Project</h3>
@if ((ProjectDto == null || Categories == null || Techs == null) && ErrorMessage == null)
{
    <LoadingSpinner />
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage" />
}
else
{
    <EditForm Model="@ProjectDto" OnSubmit="@UpdateProject_Submit" class="card card-body bg-light mt-5">
        <div class="form-group row mb-1">
            <label for="name" class="col-md-2 col-form-label">Name:</label>
            <div class="col-md-10">
                <InputText id="name" class="form-control" @bind-Value="ProjectDto.Name" />
            </div>
        </div>
        <div class="form-group row mb-1">
            <label for="description" class="col-md-2 col-form-label">Description:</label>
            <div class="col-md-10">
                <InputTextArea id="description" class="form-control" @bind-Value="ProjectDto.Description" />
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="category" class="col-md-2 col-form-label">Category:</label>
            <div class="col-md-10">
                <InputSelect id="category" class="form-control" @bind-Value="ProjectDto.CategoryId">
                    @foreach (var category in Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="technologies" class="col-md-2 col-form-label">Technologies:</label>
            <div class="col-md-10">
                <select id="technologies" @bind="ProjectTechIds" multiple>
                    @foreach (var tech in Techs)
                    {
                        <option value="@tech.Id">@tech.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="linksDisplay" class="col-md-2 col-form-label">Links:</label>
            <div class="col-md-10">
                @foreach (var link in ProjectDto.Links)
                {
                    <CascadingValue Value="this">
                        <DisplayLink ProjectDto="@ProjectDto" LinkDto="@link"/>
                    </CascadingValue>
                }
            </div>
        </div>

        <div class="form-group row mb-1">
            <div class="col-md-10">
                <input id="links" type="button" class="btn btn-primary" value="Add Link" onclick="@AddLink_Click" />
            </div>
        </div>

        @if (ReadyToAddLink)
        {
            <div class="form-group row mb-1">
                <div class="col-md-10">
                    <AddLink Links="@ProjectDto.Links" OnLinkAdded="RemoveAddLink" />
                </div>
            </div>
        }

        <div class="form-group row mb-1">
            <label for="imageUpload" class="col-md-2 col-form-label">Image:</label>
            <div class="col-md-10">
                <InputFile id="imageUpload" class="form-control" OnChange="@HandleImageUpload" />
            </div>
        </div>

        <img src="@ImageDataUri" width="300" />

        <div class="form-group row mb-1 mt-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </EditForm>
}
